<div class="pagina-seccion" id="documentos">Documentos y enlaces de interés del procedimiento activo</div>

<ul class="lead my-3">
    <li>Texto del acuerdo</li>
    <li>Escalas Lickert</li>
    <li>Cuestionario (PDF y Word)</li>
    <li>Enlaces de interés a procedimientos electrónicos
        (presentación de instancias, interposición de recursos administrativos, ...)
    </li>
</ul>