<form method="post" action="{{ path(aplicacion.ruta ~ '_admin_pregunta_delete', {'cuestionario': cuestionario.id, 'grupo': grupo.id, 'pregunta': pregunta.id}) }}"
      onsubmit="return confirm('¿Eliminar la pregunta {{ pregunta.orden  }} del grupo {{ grupo.titulo }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pregunta.id) }}">
    <button class="btn btn-primary"><em class="fas fa-trash"></em> Eliminar</button>
</form>
