{% extends '/desempenyo/admin/servicio/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    {{ include('desempenyo/admin/servicio/_form.html.twig') }}

{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('desempenyo_admin_servicio_index') }}">Servicio</a>
    </li>
{% endblock %}
