<form method="post" action="{{ path(aplicacion.ruta ~ '_admin_cuestionario_delete', {'id': cuestionario.id}) }}"
      onsubmit="return confirm('¿Eliminar el cuestionario {{ cuestionario.codigo }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuestionario.id) }}">
    <button class="btn btn-primary"><span class="fas fa-trash"></span> Eliminar</button>
</form>
