{% if app.user %}
    <ul class="navbar-nav mb-2 mb-md-0 ps-3 text-light">
        <li class="nav-item me-3">
            <em class="fas fa-code"></em> Créditos
        </li>
        <li class="nav-item me-3">
            <em class="fas fa-user-circle"></em> {{ app.user.login }}
        </li>
        <li class="nav-item">
            <a class="dropdown-item" href="{{ path('app_logout') }}" title="Cerrar sesión del Usuario">
                <em class="fas fa-lock"></em> Salir de la sesión
            </a>
        </li>
    </ul>
{% endif %}