<div class="container-fluid">
    <a class="navbar-brand" href="https://www.us.es/" title="Universidad de Sevilla">
        <img class="pe-2" style="margin-top: -15px" src="{{ asset('images/logo-us-negativo.png') }}" height="30"
             alt="Logo Universidad de Sevilla">
    </a>
    <div class="h2 text-light">EDU</div>
    <div class="navbar" id="navbar">
        {{ render_esi(path('usuario_menu')) }}
    </div>
</div>
