<div class="row gx-0">
    <div class="col">
        <img class="ps-2" src="{{ asset('images/logo-us-negativo.png') }}" height="40"
             alt="Universidad de Sevilla">
    </div>
    <div class="col text-light align-self-end">
        <span class="text-center">Dirección de Recursos Humanos</span>
    </div>
    <div class="d-none d-sm-block col text-light align-self-end">
        <span class="mx-1">Powered by</span>
        <span class="mx-1 text-nowrap">
            <a class="text-light" href="https://symfony.com/"><em class="'fab fa-symfony me-1"></em>Symfony</a>
        </span>
        <span class="mx-1 text-nowrap">
            <a class="text-light" href="https://getbootstrap.com/"><em class="'fab fa-bootstrap me-1"></em>Bootstrap</a>
        </span>
    </div>
</div>
