{% extends 'desempenyo/admin/grupo/index.html.twig' %}

{% block content %}
    <div class="pagina-titulo">{{ titulo }}</div>

    {{ include('desempenyo/admin/cuestionario/_form.html.twig', {button_label: 'Actualizar'}) }}
{% endblock %}

{% block migas %}
    {{ parent() }}
    <li class="breadcrumb-item">
        <a href="{{ path('desempenyo_admin_grupo_index', {id: grupo.cuestionario.id}) }}">Grupos</a>
    </li>
{% endblock %}

{% block botones %}{% endblock %}